@model CMS.Models.PagerViewModel<CMS.Models.Cinema.CinemaIndexViewModel>
@{
    ViewData["Title"] = "Cinemas";
}

<div class="col-lg-12 col-md-12">
    <div class="panel panel-default mt-40">
        <div class="panel-heading">
            <h3>
                CINEMAS
                <span class="btn-group pull-right">
                    <a asp-action="Create" title="Create" class="btn btn-default">
                        <span class="glyphicon glyphicon-plus-sign"></span>
                    </a>
                </span>
            </h3>
        </div>
        <div class="panel-body panel-body-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th class="col-lg-2 col-md-2">
                            @Html.ActionLink("Name", "Index", new { page = Model.Pager.page, size = Model.Pager.size, orderBy = "Name", order = !Model.Pager.order }, "Name".Equals(Model.Pager.orderBy) ? new { @style = "color:black" } : null)

                            @if ("Name".Equals(Model.Pager.orderBy) && Model.Pager.order)
                            {
                                <i class="glyphicon glyphicon-arrow-up"></i>
                            }
                            else if ("Name".Equals(Model.Pager.orderBy) && !Model.Pager.order)
                            {
                                <i class="glyphicon glyphicon-arrow-down"></i>
                            }
                        </th>
                        <th class="col-lg-2 col-md-2">
                            @Html.ActionLink("Location", "Index", new { page = Model.Pager.page, size = Model.Pager.size, orderBy = "Location", order = !Model.Pager.order }, "Location".Equals(Model.Pager.orderBy) ? new { @style = "color:black" } : null)

                            @if ("Location".Equals(Model.Pager.orderBy) && Model.Pager.order)
                            {
                                <i class="glyphicon glyphicon-arrow-up"></i>
                            }
                            else if ("Location".Equals(Model.Pager.orderBy) && !Model.Pager.order)
                            {
                                <i class="glyphicon glyphicon-arrow-down"></i>
                            }
                        </th>
                        <th class="col-lg-2 col-md-2">
                            Address
                        </th>
                        <th class="col-lg-3 col-md-3">
                            Contact
                        </th>
                        <th class="col-lg-3 col-md-3">
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Items)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Location)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Address)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Contact)
                            </td>
                            <td>
                                <div class="btn-group pull-right">
                                    <a href="@Url.Action("Details", "Cinema", new { id = item.Id })" title="Details" class="btn btn-default">
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                    </a>
                                    <a href="@Url.Action("Edit", "Cinema", new { id = item.Id })" title="Edit" class="btn btn-default">
                                        <span class="glyphicon glyphicon-edit"></span>
                                    </a>
                                    <a href="@Url.Action("Delete", "Cinema", new { id = item.Id })" title="Delete" class="btn btn-default">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="panel-footer text-center">
            @Html.ActionLink("<<<", "Index", new { page = Model.Pager.page - 1, size = Model.Pager.size, orderBy = Model.Pager.orderBy, order = Model.Pager.order })
            @Html.ActionLink(">>>", "Index", new { page = Model.Pager.page + 1, size = Model.Pager.size, orderBy = Model.Pager.orderBy, order = Model.Pager.order })
        </div>
    </div>
</div>
