@model CMS.Models.Movie.MovieIndexViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, PagedList.Core.Mvc
@{
    ViewData["Title"] = "Index";
}

<style>
    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
</style>

<h2>Movies</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<p>
    <h3>Total Movies: @Model.TotalCount</h3>
</p>
@using (Html.BeginForm("Index", "Movie", new { page = Model.PageNumber, orderBy = Model.OrderBy, orderDesc = Model.OrderDesc, matchString = Model.MatchString }, FormMethod.Get))
{
    <div class="form-inline">
        @Html.TextBoxFor(model => model.MatchString, new { @class = "form-control" })
        <input class="btn btn-default" type="submit" value="Search">
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Name", "Index", new { page = Model.PageNumber, orderBy = "Name", orderDesc = !Model.OrderDesc }, new { @style = "color: black;" })

                @if (Model.OrderDesc && "Name".Equals(Model.OrderBy))
                {
                    <i class="glyphicon glyphicon-arrow-down"></i>
                }
                else if (!Model.OrderDesc && "Name".Equals(Model.OrderBy))
                {
                    <i class="glyphicon glyphicon-arrow-up"></i>
                }
            </th>
            <th>
                @Html.ActionLink("Description", "Index", new { page = Model.PageNumber, orderBy = "Description", orderDesc = !Model.OrderDesc }, new { @style = "color: black;" })

                @if (Model.OrderDesc && "Description".Equals(Model.OrderBy))
                {
                    <i class="glyphicon glyphicon-arrow-down"></i>
                }
                else if (!Model.OrderDesc && "Description".Equals(Model.OrderBy))
                {
                    <i class="glyphicon glyphicon-arrow-up"></i>
                }
            </th>
            <th>
                @Html.ActionLink("Duration", "Index", new { page = Model.PageNumber, orderBy = "Duration", orderDesc = !Model.OrderDesc }, new { @style = "color: black;" })

                @if (Model.OrderDesc && "Duration".Equals(Model.OrderBy))
                {
                    <i class="glyphicon glyphicon-arrow-down"></i>
                }
                else if (!Model.OrderDesc && "Duration".Equals(Model.OrderBy))
                {
                    <i class="glyphicon glyphicon-arrow-up"></i>
                }
            </th>
            <th>
                @Html.ActionLink("Actors", "Index", new { page = Model.PageNumber, orderBy = "Actors", orderDesc = !Model.OrderDesc }, new { @style = "color: black;" })

                @if (Model.OrderDesc && "Actors".Equals(Model.OrderBy))
                {
                    <i class="glyphicon glyphicon-arrow-down"></i>
                }
                else if (!Model.OrderDesc && "Actors".Equals(Model.OrderBy))
                {
                    <i class="glyphicon glyphicon-arrow-up"></i>
                }
            </th>
            <th>
                @Html.ActionLink("Studio", "Index", new { page = Model.PageNumber, orderBy = "Studio", orderDesc = !Model.OrderDesc }, new { @style = "color: black;" })

                @if (Model.OrderDesc && "Studio".Equals(Model.OrderBy))
                {
                    <i class="glyphicon glyphicon-arrow-down"></i>
                }
                else if (!Model.OrderDesc && "Studio".Equals(Model.OrderBy))
                {
                    <i class="glyphicon glyphicon-arrow-up"></i>
                }
            </th>
            <th>
                @Html.ActionLink("ProjectionType", "Index", new { page = Model.PageNumber, orderBy = "ProjectionType", orderDesc = !Model.OrderDesc }, new { @style = "color: black;" })

                @if (Model.OrderDesc && "ProjectionType".Equals(Model.OrderBy))
                {
                    <i class="glyphicon glyphicon-arrow-down"></i>
                }
                else if (!Model.OrderDesc && "ProjectionType".Equals(Model.OrderBy))
                {
                    <i class="glyphicon glyphicon-arrow-up"></i>
                }
            </th>
            <th>
                @Html.ActionLink("Rating", "Index", new { page = Model.PageNumber, orderBy = "Rating", orderDesc = !Model.OrderDesc }, new { @style = "color: black;" })

                @if (Model.OrderDesc && "Rating".Equals(Model.OrderBy))
                {
                    <i class="glyphicon glyphicon-arrow-down"></i>
                }
                else if (!Model.OrderDesc && "Rating".Equals(Model.OrderBy))
                {
                    <i class="glyphicon glyphicon-arrow-up"></i>
                }
            </th>
            <th>
                @Html.ActionLink("Genre", "Index", new { page = Model.PageNumber, orderBy = "Genre", orderDesc = !Model.OrderDesc }, new { @style = "color: black;" })

                @if (Model.OrderDesc && "Genre".Equals(Model.OrderBy))
                {
                    <i class="glyphicon glyphicon-arrow-down"></i>
                }
                else if (!Model.OrderDesc && "Genre".Equals(Model.OrderBy))
                {
                    <i class="glyphicon glyphicon-arrow-up"></i>
                }
            </th>
            <th>
                Trailer Url
            </th>
            <th>
                Poster Url
            </th>
            <th>
                Imbd Url
            </th>
            <th>
                Start Date
            </th>
            <th>
                End Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Actors)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Studio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectionType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TrailerUrl)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PosterUrl)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImbdUrl)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>

<pager list="@Model" asp-controller="Movie" asp-action="Index" />
