@model CMS.Models.Auditorium.AuditoriumDetailsViewModel
@{
    ViewData["Title"] = "Details";
}

<div class="col-lg-12 col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="text-uppercase">
                @Model.Name
            </h4>
        </div>
        <div class="panel-body panel-body-responsive">
            <div class="col-lg-12 col-md-12 row">
                <dl class="dl-horizontal">
                    <dt class="has-feedback">
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Cinema)
                    </dt>
                    <dd>
                        <a href="@Url.Action("Details", "Cinema", new { id = Model.Cinema.Id })" target="_blank" title="Details">
                            @Model.Cinema.Name
                        </a>
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Capacity)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Capacity)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Rows)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Rows)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Columns)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Columns)
                    </dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Status)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Status)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.SeatType)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.SeatType)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ScreenType)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.ScreenType)
                    </dd>
                </dl>
                <hr />
                <div class="col-lg-12 col-md-12">
                    <table class="table table-bordered table-striped">
                        @for (int i = -2; i < Model.Rows; i++)
                        {
                            <tr>
                                @for (int j = -2; j < Model.Columns; j++)
                                {
                                    if (i == -2)
                                    {
                                        if (j == -2)
                                        {
                                            <th></th>
                                        }
                                        else
                                        {
                                            <th class="text-center">@(j + 2)</th>
                                        }
                                    }
                                    else if (j == -2)
                                    {
                                        char row = (char)(66 + i);
                                        <td class="text-right"><b>@row</b></td>
                                    }
                                    else
                                    {
                                        <td class="text-center glyphicon-remove-circle" style="color:black;"></td>
                                    }
                                }
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-lg-3 col-md-3 btn-group">
                    <a href="@Url.Action("Index", "Auditorium")" title="Back to list" class="btn btn-default">
                        <span class="glyphicon glyphicon-arrow-left"></span>
                    </a>
                    <a href="@Url.Action("Index", "Home")" title="Home" class="btn btn-default">
                        <span class="glyphicon glyphicon-home"></span>
                    </a>
                </div>
                <div class="col-lg-offset-3 col-md-offset-3 btn-group text-center">
                    <a href="@Url.Action("Edit", "Auditorium", new { id = Model.Id })" title="Edit" class="btn btn-default">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                    <a href="@Url.Action("Delete", "Auditorium", new { id = Model.Id })" title="Delete" class="btn btn-default">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>